<div class="container">
  <div class="row">
    <div class="col">
      <input [(ngModel)]="addTrackerText" type="text" class="form-control">
      <button [disabled]="addTrackerText.trim() === ''" (click)="addTracker()" class="btn btn-primary">Add Tracker</button>
    </div>
  </div>

  <div class="row" *ngIf="trackers.length > 0">
    <div class="col">
      <h3>Trackers</h3>
      <div *ngFor="let tracker of trackers">
        {{tracker.name}}
        <button (click)="start(tracker)" *ngIf="tracker.state === 'off'" class="btn btn-primary">Start</button>
        <button (click)="stop(tracker)" *ngIf="tracker.state === 'on'" class="btn btn-warning">Stop</button>
        <button (click)="delete(tracker)" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </div>
</div>
